<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Order</title>
</head>
<body>
<script>0</script>

<section>
  <div class="container">
    <h1>Orders</h1>

    <form method="get" th:action="@{/order/orderForm}">
      <button type="submit" class="btn btn-primary">
        Create New Order
      </button>
    </form>
    <hr/>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Open</th>
        <th scope="col">Product</th>
        <th scope="col">Delete</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="o : ${orderList}">
        <td class="align-middle" th:text="${o.id}"></td>
        <td class="align-middle" th:text="${o.date}"></td>
        <td class="align-middle" th:text="${o.open}"></td>
        <td class="align-middle">
          <a th:href="@{'/order/details/' + ${o.id}}">
            Details
          </a>
        </td>
        <td class="align-middle">
          <form method="post" th:action="@{/order/deleteOrder/{id}(id=${o.id})}">
            <button type="submit" class="btn btn-danger" name="submit" value="value">
              Delete
            </button>
          </form>
        </td>
        <td th:if="${o.open == true}" class="align-middle">
          <form method="post" th:action="@{/order/complete/{id}(id=${o.id})}">
          <button type="submit" class="btn" name="submit" value="value">
            Complete Order
          </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>
