<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
</head>
<body>
<section>
    <div class="container-md">
        <div class="row mt-2 gx-5">
            <div class="col-3 mt-4">

            </div>
            <div class="col-md-6">
                <th:block th:each="p : ${products}">
                    <ul class="list-group mt-4">
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div>
                                <div class="fw-bold" th:text="${p.name}"></div>
                                <div th:text="${p.description}"></div>
                                <div th:text="${p.price} + ' €' "></div>
                            </div>
                            <div>
                                <button type="button" class="btn" data-bs-toggle="modal" th:data-id="${p.id}" data-bs-target="#OrderModal">
                                    <i data-feather="plus"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </th:block>
            </div>

            <div class="col-md-3 mt-4">
                <div class="row">
                    <ul class="list-group list-group-flush mb-auto" id="cartList"></ul>
                </div>
                <div id="TotalPrice" class="row col offset-md-6 mt-5" hidden></div>
                <div class="row mt-2">
                    <button id="MakeOrder" class="btn btn-primary" type="submit" hidden>
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="OrderModal" th:data-restaurant="${restaurant.id}" tabindex="-1" role="dialog" aria-labelledby="OrderModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h3 class="modal-title" id="ProductTitle"></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div>
                            <div class="d-flex flex-column justify-content-center">
                                <h3 id="ProductPrice"></h3>
                                <h5 id="ProductDesc"></h5>
                                <h4 id="ProductCategory"></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-evenly">
                    <div class="d-flex justify-content-center align-items-start">
                        <div class="d-flex align-items-center gap-3">
                            <button id="minus" class="btn btn-primary" disabled>-</button>
                            <span id="number" class="fs-3">1</span>
                            <button id="plus" class="btn btn-primary">+</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="AddToCart">Add to cart</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        let cart = []
        const myModalEl = document.getElementById('OrderModal');
        const addtoCartButton = document.getElementById("AddToCart")
        const minusButton = document.getElementById('minus');
        const plusButton = document.getElementById('plus');
        const numberDisplay = document.getElementById('number');

        myModalEl.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const productId = button.dataset.id
            const restaurantId = document.getElementById("OrderModal").dataset.restaurant
            document.getElementById("AddToCart").setAttribute("data-product", productId)
            getProductDetails(restaurantId,productId)
        })

        const getProductDetails = async (restaurant_id,product_id) => {
            const response = await fetch('/api/v1/product/' + restaurant_id + "/" + product_id);
            const data = await response.json();
            document.getElementById("ProductTitle").textContent = data.name
            document.getElementById("ProductDesc").textContent = data.description
            document.getElementById("ProductPrice").textContent = data.price + " €"
            document.getElementById("ProductPrice").setAttribute("data-price", data.price)
            document.getElementById("ProductCategory").textContent = data.category
        }

        addtoCartButton.addEventListener('click', () => {
            const product_id = document.getElementById("AddToCart").getAttribute("data-product")
            if (cart.find(x => x.id === product_id)) return true
            cart = [...cart,{
                id: document.getElementById("AddToCart").getAttribute("data-product"),
                quantity: count,
                price: document.getElementById("ProductPrice").dataset.price,
            }]
            const li = document.createElement('li')
            li.className = 'list-group-item'
            li.innerText = document.getElementById("ProductTitle").textContent + ' ' +
                document.getElementById("ProductPrice").textContent + '  x' + count
            li.setAttribute("value", product_id)
            const cartContainer = document.getElementById("cartList")
            cartContainer.appendChild(li)
            document.getElementById("TotalPrice").removeAttribute("hidden")
            document.getElementById("MakeOrder").removeAttribute("hidden")
            document.getElementById("TotalPrice").textContent = "Total Price: " +  getCartPrice() + ' €'
            const modal = bootstrap.Modal.getInstance(myModalEl)
            modal.hide();
            count = 1
            updateCounter()
        })

        let count = 1;

        function updateCounter() {
            numberDisplay.textContent = count;
            minusButton.disabled = count <= 1;
        }

        minusButton.addEventListener('click', () => {
            if (count > 1) {
                count--;
                updateCounter();
            }
        });

        plusButton.addEventListener('click', () => {
            count++;
            updateCounter();
        });

        function getCartPrice() {
            let price = 0
            for (let i = 0; i < cart.length; i++) {
                price = price + cart[i].price * cart[i].quantity
            }
            return price
        }

        // Initial state
        updateCounter();
    </script>

</section>
</body>
</html>