<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Layout Title</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
<!--    <script src="https://unpkg.com/feather-icons"></script>-->
</head>
<body class="bg-dark-subtle">
<nav class="navbar navbar-expand-lg bg-secondary-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Restaurant Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/order}">Orders</a>
                </li>
            </ul>
            <div sec:authorize="!isAuthenticated()">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register/user}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register/owner}">Register Restaurant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <span class="navbar-text">
                        Hello <span sec:authentication="name"></span>
                        Roles <span sec:authentication="principal.authorities"></span>
                    </span>
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div th:replace="${content}">
    <p>Layout content</p>
</div>
<footer>
</footer>
<script src="/lib/js/bootstrap.bundle.min.js"></script>
<script>
    // feather.replace();
</script>
</body>
</html>