<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
  <div class="container-md mt-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-5">
        <h2>Register</h2>
        <h4>Please fill out the form below</h4>
        <span class="text-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"/>
        <form th:action="@{/register/createUser}" th:object="${user}" method="post">
          <div class="form-floating mb-3">
            <input class="form-control" id="username" type="text" th:field="*{username}" placeholder=""/>
            <label class="control-label" for="username">Username</label>
            <p th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></p>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="password" type="password" th:field="*{password}" placeholder=""/>
            <label class="control-label" for="password">Password</label>
            <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
          </div>
          <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>