<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
  <div class="container-md mt-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <h2>Register</h2>
        <h4>Please fill out the form below</h4>
        <div class="link-danger" th:if="${param.userDuplicate}">
          User already exists with that Username.</div>
        <form th:action="@{/register/createUser}" method="post">
          <div class="form-floating mb-3">
            <input class="form-control" id="username" type="text" name="username" placeholder="" required/>
            <label class="control-label" for="username">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="password" type="password" name="password" placeholder="" required/>
            <label class="control-label" for="password">Password</label>
          </div>
          <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>